body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300; }

ol {
  margin: 0px;
  padding: 0 0 0 20px; }

@media (max-width: 767px) {
  .carousel-indicators {
    bottom: -30px; } }

.btn1 {
  border: 1px solid #46e5fc;
  border-radius: 5px;
  color: #fff;
  float: left;
  margin-top: 20px;
  padding: 10px 50px 10px 20px;
  background: transparent url("../images/btn-arrow.png") no-repeat scroll 160px 19px; }
  @media (max-width: 767px) {
    .btn1 {
      margin-bottom: 20px; } }

.btn1:hover {
  text-decoration: none;
  color: #fff; }

.title {
  color: #164672;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 300; }
  @media (max-width: 991px) {
    .title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 30px; } }
  .title:before {
    background: #46e5fc;
    bottom: 8px;
    content: "";
    float: left;
    height: 40px;
    margin-right: 20px;
    width: 2px; }
  .title b {
    font-weight: 500; }
  .title span {
    font-size: 20px; }

.sub-title {
  color: #164672;
  font-weight: 400;
  margin: 0; }

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 105px; }

.hsContent {
  display: table-cell;
  float: none;
  vertical-align: middle; }

/**************Header Start Here****************************/
.clearHeader {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 75px; }
  @media (max-width: 991px) {
    .clearHeader {
      background: #053251;
      height: auto;
      position: relative; } }

.darkHeader {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  -webkit-box-shadow: 0 2px 10px 2px #BDBDBD;
  box-shadow: 0 2px 10px 2px #BDBDBD; }
  .darkHeader nav ul li a, .darkHeader nav ul li a:visited {
    color: #164672; }

.navbar-default {
  margin-top: 12px; }

/*******Become A Partner Start Here********/
.become-a-partner {
  padding: 30px 0px;
  background: #053251; }
  .become-a-partner .title {
    color: #fff; }
  .become-a-partner h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 400; }
  .become-a-partner .hsContainer {
    height: 310px;
    font-size: 16px; }
    @media (max-width: 767px) {
      .become-a-partner .hsContainer {
        height: auto; } }
  .become-a-partner ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    @media (max-width: 767px) {
      .become-a-partner ul {
        margin: 0 0 20px 0; } }
    .become-a-partner ul li {
      background: transparent url("../images/bullet.png") no-repeat scroll 0 12px;
      padding-left: 15px;
      padding-top: 5px;
      color: #91acbf;
      font-size: 14px; }
  @media (max-width: 767px) {
    .become-a-partner img {
      width: 100%; } }

/*******Partner Testimonials Start Here******/
.partner-testimonials {
  padding: 30px 0px; }
  .partner-testimonials .hsContainer {
    height: 310px;
    font-size: 16px; }

/**********Newsroom Start Here***********/
.newsroom {
  background: transparent url("../images/newsroom-bg.jpg") no-repeat scroll 0 0/cover;
  padding: 30px 0px; }
  .newsroom h4 {
    font-weight: 400; }
  .newsroom span {
    color: #6a6a6a; }

/*******Footer Start Here******/
.logo-overlay {
  background: #164672;
  bottom: 0px;
  left: -78%;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 105px; }
  @media (max-width: 1400px) {
    .logo-overlay {
      left: -84%; } }
  @media (max-width: 1366px) {
    .logo-overlay {
      left: -84%; } }
  @media (max-width: 767px) {
    .logo-overlay {
      left: 0%; } }

.footer-top {
  background: #eaf0f5;
  width: 100%;
  position: relative; }
  .footer-top .logo {
    float: left;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    width: 13%; }
    @media (max-width: 991px) {
      .footer-top .logo {
        width: 20%; } }
    @media (max-width: 767px) {
      .footer-top .logo {
        width: 100%;
        text-align: center; } }
  .footer-top .social-icon {
    text-align: right; }
    @media (max-width: 767px) {
      .footer-top .social-icon {
        text-align: center; } }
    @media (max-width: 767px) {
      .footer-top .social-icon .hsContainer {
        height: 50px; } }
  .footer-top .footer-link a {
    color: #363636;
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 10px; }

/********************About Us Page Start**************/
.about-us {
  font-size: 16px;
  line-height: 26px; }
  .about-us .right {
    float: right;
    width: 300px;
    min-height: 1px;
    position: relative;
    text-align: center;
    background: #f1f1f1;
    min-height: 100px; }
    @media (max-width: 991px) {
      .about-us .right {
        width: 230px; } }
    @media (max-width: 767px) {
      .about-us .right {
        width: 94%;
        margin: 0px 10px; } }
    .about-us .right h2 {
      background: #da5ca5;
      color: #fff;
      font-weight: 300;
      margin: 0px 0px 20px 0px;
      padding: 10px 0px; }
    .about-us .right ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .about-us .right ul li {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px; }

/**********************Mission Start Here******************/
.mission img {
  margin: 0 0 20px 20px; }
  @media (max-width: 767px) {
    .mission img {
      width: 100%;
      margin: 0px; } }
.mission ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .mission ul li {
    background: transparent url("../images/bullet.png") no-repeat scroll 0 12px;
    padding-left: 15px;
    padding-top: 5px; }

/*************************Become-a-Partner Page*******************/
.become-a-partner-inner {
  background: #fff; }
  .become-a-partner-inner .title {
    color: #164672; }
  .become-a-partner-inner h4 {
    color: #164672; }
  .become-a-partner-inner ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    @media (max-width: 767px) {
      .become-a-partner-inner ul {
        margin: 0 0 20px 0; } }
    .become-a-partner-inner ul li {
      color: #363636; }

.benefits {
  padding: 30px 0px;
  background: #053251;
  color: #fff; }
  .benefits .title {
    color: #fff; }
  .benefits ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .benefits ul li {
      padding: 0 10px;
      color: #fff;
      font-size: 14px;
      width: 12.5%;
      float: left;
      text-align: center;
      margin-top: 10px; }
      @media (max-width: 480px) {
        .benefits ul li {
          min-height: 140px;
          width: 50%; } }

/****************Contact Us Start Here***********************/
.contact-us {
  padding-bottom: 20px; }
  .contact-us form {
    width: 80%;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .contact-us form {
        width: 100%; } }
  .contact-us .border-r {
    border-right: 1px solid #e1e1e1; }
    @media (max-width: 767px) {
      .contact-us .border-r {
        border-right: 0px solid #e1e1e1; } }
  .contact-us .address {
    background: transparent url("../images/contact-page-img.jpg") no-repeat scroll 0 0/cover;
    min-height: 300px;
    margin: 0 auto 20px;
    width: 80%;
    padding: 10px 30px;
    font-size: 18px; }
    @media (max-width: 767px) {
      .contact-us .address {
        width: 100%; } }
    .contact-us .address span {
      font-size: 22px;
      color: #164672; }
      @media (max-width: 767px) {
        .contact-us .address span {
          font-size: 19px; } }
    .contact-us .address a {
      font-weight: 400;
      color: #164672; }
    .contact-us .address h3 {
      border-bottom: 1px solid #6b2367;
      font-weight: 300;
      padding-bottom: 20px;
      color: #164672; }
    .contact-us .address .number:before {
      background: transparent url("../images/contact-icon.png") repeat scroll 0 0;
      content: "";
      float: left;
      height: 40px;
      margin-right: 10px;
      position: relative;
      top: -5px;
      width: 40px; }
    .contact-us .address .email:before {
      background: transparent url("../images/mail-icon.png") repeat scroll 0 0;
      content: "";
      float: left;
      height: 40px;
      margin-right: 10px;
      position: relative;
      top: -5px;
      width: 40px; }

/******************GALLERY SLIDER************************/
.owl-dots {
  display: none; }

.owl-theme .owl-nav {
  position: absolute;
  top: 22%;
  width: 100%; }

.owl-theme .owl-nav div.owl-prev {
  background: transparent url("https://cdn.shopify.com/s/files/1/1955/5173/files/previous1.png?4199497698911371648") no-repeat scroll 0 0;
  left: -10px;
  position: absolute;
  text-indent: -999em;
  width: 38px;
  height: 48px; }

.owl-theme .owl-nav div.owl-next {
  background: transparent url("https://cdn.shopify.com/s/files/1/1955/5173/files/next1.png?4199497698911371648") no-repeat scroll 0 0;
  right: -10px;
  position: absolute;
  text-indent: -999em;
  width: 38px;
  height: 48px; }

.fancybox-margin {
  margin-right: 0 !important; }

/******************MENU START HERE***********************/
.navigation {
  height: 70px; }

.brand {
  position: absolute;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em; }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none; }

.nav-container {
  margin: 0 auto; }

nav {
  float: right;
  margin-top: 25px; }
  @media (max-width: 991px) {
    nav {
      margin-top: 0; } }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          color: #46e5fc;
          text-decoration: none; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 0 20px 15px;
          line-height: 20px; }

.nav-dropdown {
  position: absolute;
  display: none;
  top: 40px;
  z-index: 1;
  box-shadow: 0 3px 12px transparent; }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 980px) {
  .nav-mobile {
    display: block; }

  nav {
    width: 100%;
    padding: 75px 0 0; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }

  .nav-dropdown {
    position: static; } }
@media (min-width: 991px) and (max-width: 2000px) {
  .nav-list {
    display: block !important; } }
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

@media (max-width: 767px) {
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 35%; } }

/*# sourceMappingURL=binary.css.map */
