.pdfSliderContaintCustom{
    position : inherit !important;
    width: auto !important; 
}
.leaflet-popup-content{
    margin : 0px !important;
}
.PdfMain .readCommentMain h2,.mainContainer .readCommentMain .paginationLink li a{
    padding-left: 20px;
    word-wrap: break-word; 
}
.loginBanner .inputGroup input.form-control {
    height: inherit;
    line-height: 1.25;
}
.fileUpMain label.control-label {
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    color: #666;
    font-weight: 500;
}
.fileUpMain .dropPdfFile .dropzone {
    border: inherit;
    background-color: transparent;
}
.fileUpMain .dropPdfFile  .dropzone .dz-message{
    margin: 5em 0;
}
.fileUpMain .pdfMain
{
    vertical-align: top
}
.uploadMain  .form-group .inputBox .text-danger
{
    width: 100%;
    float: none;
    display: inline-block;
    text-align: center;
}
.fileUpMain span.text-danger {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.showcopy{
    display: block !important;
    z-index: 1;
}
.loginBanner .loginText.customForm {
    float: left;
    width: 100%;
}
.loginBanner .loginText.customForm  .col-md-12{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
}
.loginBanner .loginText.customForm .form-horizontal .form-group{
    margin: 0
}
.loginBanner .loginText.customForm .mainBtn{
    margin-top: 25px
}
.fileUpMain .dropPdfFile .dropzone .dz-preview .dz-image img {
    display: inline-block;
    max-width: 100%;
}
.pdfCenterContaint .showcopy{
    z-index: 1038;
    left:220px;
}
.pdfSliderContaint input,.pdfSliderContaint textarea{
    width: 100%
}
.searchArea button.search-icon {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    top: 10px;
    background: transparent;
    border: medium none;
}
.mainContainer .searchArea .searcBox{
    position: relative;
}
.box-content.card.fileUpMain-box{
    border: medium none;
}
.PdfMain .pdfCenterContaint .pdfInner{
    padding: 0 30px
}
.pdfRight .imgCheckBox li input[type="checkbox"],.pdfRight .imgCheckBox li input[type="radio"] {display:none; }
.pdfRight .imgCheckBox li input[type="checkbox"]:checked + label:before ,.pdfRight .imgCheckBox li input[type="radio"]:checked + label:before { background:#eb682d url(../img/right.png)no-repeat center center; opacity: 0.8;}
.pdfRight .imgCheckBox li input[type="checkbox"]:checked + label span,.pdfRight .imgCheckBox li input[type="radio"]:checked + label span{display: none;}

@media only screen and (max-width: 1600px)
{
    .pdfCenterContaint .showcopy.shareOption{
        left: 200px
    }
    .PdfMain .readCommentMain{
        width: 20%
    }
    .PdfMain .pdfCenterContaint {
        width: 70%;
        margin: 0 60px;
    }   
    .PdfMain .pdfRight{
        width: 20%
    }
    .leaflet-container { 
        height: 80vh !important;
        width: 90% !important;
        background:#fff;
    }
    .shareBtn .createBtn {
        padding: 10px 35px;
        margin: 5px;
    }
    .pageWraper{
        width: 99%
    }
    .mainContainer .readCommentMain .paginationLink li a {font-size: 14px; }

    } /*responsive end*/
    .leaflet-control-layers-toggle{
        display: none
    }
    .displaynone{
        display: none !important;
    }
    .showdisplay{
        display: block !important;
    }
    .customfix{
        position: fixed;
        left: 15%;
    }
    .mainContainer .projGallery {
        padding-top : 60px !important;
        padding-bottom: 0px !important;
    }
    .pdfSection{
        position: relative;
    }
    .custom-button-next,.custom-button-prev {
        height: 90px;
        width: 90px;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        -moz-background-size: 27px 44px;
        -webkit-background-size: 27px 44px;
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .custom-button-next{
        background-image: url(../img/next.png);
        background-size: auto;
        right: -60px;
        left: auto;
    }
    .custom-button-prev{
        background-image: url(../img/prev.png);
        background-size: auto;
        left: -60px;
        right: auto;
    }
