.fileuploadimgsection {
    position: relative;
    display: inline-block;
}
.fileuploadimgsection .fileupload-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000002e;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    width:100%;
    opacity: 0;
    margin-bottom: 5px
}
.fileuploadimgsection:hover .fileupload-button{
	opacity: 1
}
.btn_class
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: -6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 11px;
}
.pull-right {
    float: right!important;
}

.editcoverpopup .editcover_upload .cropper-container span{
    padding: 0px !important;
}
.progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
.editcoverpopup .editcover_upload {
    padding: 35px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    border: 1px dashed #acacac;
    margin-bottom: 20px;
}