.editcoverpopup .editcover_upload {
  padding: 35px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  border: 1px dashed #acacac;
  margin-bottom: 20px; }
  .editcoverpopup .editcover_upload .li_upload {
    color: #838383;
    font-size: 2.25rem; }
  .editcoverpopup .editcover_upload span {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Raleway';
    padding-top: 15px;
    color: #838383;
    line-height: 1.2; }

.editcoverpopup .editcover_template {
  padding: 20px 0 20px 0; }
  .editcoverpopup .editcover_template span {
    display: block;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Raleway'; }

.editcoverpopup .close i {
  font-size: 1.125rem !important;
  display: inline-block;
  padding: 5px; }

.modal_wrap {
  overflow: auto; }

.modal_wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1050; }
  .modal_wrap .modal_inner {
    max-width: 700px;
    width: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
    border-radius: 5px;
    background: #fff; }
    .modal_wrap .modal_inner h5 {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 30px 0; }
    @media only screen and (max-width: 1024px) {
      .modal_wrap .modal_inner {
        width: 62%; } }
  .modal_wrap .close {
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    text-align: center;
    border: none;
    background: transparent; }
    .modal_wrap .close i {
      color: #1e1e1e;
      font-size: 1.5rem;
      /* padding: 10px;*/
      display: inline-block; }

#profile_pic_modal .modal_inner {
  width: 100%;
  max-width: 320px;
  padding: 40px; }

.modal_inner .close{
  right: 3px;
  top: 3px; }
  .modal_inner .close i {
    font-size: 20px; }

.modal_inner {
  width: 30%;
  max-width: 300px; }

.editcoverpopup .editcover_upload {
  padding: 35px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  border: 1px dashed #acacac;
  margin-bottom: 20px; }
  .editcoverpopup .editcover_upload .li_upload {
    color: #838383;
    font-size: 2.25rem; }
  .editcoverpopup .editcover_upload span {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Raleway';
    padding-top: 15px;
    color: #838383;
    line-height: 1.2; }

.uploadprofilepopup .editcover_upload {
  padding: 35px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  border: 1px dashed #acacac; }
  .uploadprofilepopup .editcover_upload .li_add_photo {
    color: #999999;
    font-size: 1.5rem; }
  .uploadprofilepopup .editcover_upload span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Raleway';
    padding-top: 15px; }

.custom_file_upload {
  position: relative; }

.li_upload:before {
  content: ""; }

.li_cancel:before {
  content: ""; }

.file_msg_error_wrap span {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  padding: 10px; }

.blue_invalid {
  background: #e4efef; }

.red_invalid {
  background: #fbd4d4;
  color: #d50000; }

.close {
      min-width: auto;
      padding: 0; }

.close i {
        font-size: 1.125rem;
        color: #1e1e1e;
        display: block;
        padding: 10px; }
.close {
    min-width: auto;
    top: 8px !important;
    right: 10px !important; }

.close i.li_cancel {
      font-size: 1.125rem;
      color: #1e1e1e; }

.close {
  top: 10px;
  right: 10px; }

.close i {
    font-size: 1.125rem; }

.close {
      min-width: auto;
      padding: 0; }

.close i {
        font-size: 1.125rem;
        color: #1e1e1e;
        display: block;
        padding: 10px; }

.close {
    min-width: auto;
    padding: 0; }

.close i {
      font-size: 1.125rem;
      color: #1e1e1e;
      display: block;
      padding: 10px; }


.clearfix_right {
  clear: right; }

